body {
    display: flex;
    flex-direction: column; /* On met tout en colonne et le footer aura une margin-top: auto;*/
  }
  .titre-portfolio{
    text-align: center;
    font-size: 60px;
    font-family: Playfair Display, serif;
    margin: 70px 0 70px;
    color: #000;
  }
  .grille-portfolio {
    width: 90%;
    max-width: 1700px; /* Dans 1700px, je peux classer 4 colonnes de 400px repeat(auto-fill, 400px 4*4=16 */
    min-width: 300px;
    height: auto;
    margin: 30px auto;
    display: grid;  /* on repète des colonnes. Avec css grid j'ai juste créer des colonnes et ça va */
    grid-template-columns: repeat(auto-fill, 400px); /* créer des rangées automatiquement en fonction des */ 
    justify-content: center; /*éléments que j'ai. Si j'ai bcp d'éléments, ça va créer */
  }                          /*autant de rangées qu'il faut pour le stocker à chaque fois */
  .grid-item {           /*justify-content: center; fonctionne avec display: grid; ==>ça va concentrer les éléments sur x */
    height: 250px; /*il faut donner de la hauteur à nos items pour que ça vienne les placer en rangées sinon on aurait que des colonnes */
    cursor: pointer;
    position: relative; /* par rapport au description que je vais placer */
    margin: 30px 15px;  /* 30px en haut et en bas et 15px à droite et à gauche */
  }
  .grid-item img { /* pour que les images s'adaptent bien on fait */
    width: 100%;
    height: 250px;
    object-fit: cover; /* pour que ça vienne bien couvrir l'espace qu'on lui alloue */
  }
  .description {
    position: absolute;
    top: -25px;
    left: 0px;
    font-size: 18px;
  }
  .prix {
    position: absolute;
    top: -27px;
    right: 0px;
    font-size: 23px;
    font-weight: bold;  /* en gras */
  }
  
  @media screen and (max-width: 550px) {
    .grille-portfolio {
      grid-template-columns: repeat(auto-fill, 300px); /* on répète des colonnes qui font 300px */
    }
    h1 {
      font-size: 30px;
    }
  }
  
  /* Slider */
  
  .slider-portfolio {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0; /* ça va prendre tout l'écran */
    right: 0;
    background: linear-gradient(45deg, #333, #000);
    display: none; 
  }
  .btn-fermer-slider {
    position: absolute;
    top: 3%;
    right: 2%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 30px;
    outline: none;
    border: none;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
  }
  .btn-left,
  .btn-right {
    position: absolute;
    top: 50%;  /* on les remonte de 50% de leur hauteur. Technique: top: 50%; et transform: translateY(-50%);*/
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 30px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-left {
    left: 2%;  /* position */
  }
  .btn-right {
    right: 2%;
  }
  .btn-left img,
  .btn-right img {
    width: 30px;
    height: 30px;
  }
  
  .img-visible-slider {
    width: 60%;
    height: 700px;
    object-fit: cover;
    position: absolute;  /* parfaitement centrer une image */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media screen and (max-width: 700px) {
    .btn-fermer-slider {
      width: 50px;
      height: 50px;
      font-size: 25px;
    }
    .btn-left,
    .btn-right {
      width: 40px;
      height: 40px;
    }
    .btn-left img,
    .btn-right img {
      width: 20px;
      height: 20px;
    }
    .img-visible-slider {
        width: 95%;
        height: 500px;
    }
  }
  